* {
    box-sizing: border-box;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    height: 600px;
    border: 1px solid white;
    box-shadow: 0 0 10px #d5dfe7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center
}

.form {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 60%;
    justify-content: space-around;
}